.login-wrapper {
    padding-top: 70px;
    height: 100vh;
    form {
        background: #fff;
        padding: 30px 30px 60px;
        border-radius: 5px;
        margin: 0 auto;

        .pi-lock {
            color: rgb(108, 122, 137);
        }

        i {
            vertical-align: sub;
        }
    }
}

@media only screen and (min-width: 991px) {
    .login-wrapper {
        padding-top: 150px;

        form {
            width: 70%;
        }
    }
}