@import "../../../assets/scss/variables";

.login-wrapper {
    padding-top: 70px;
    height: 100vh;
  
    form {
      background: $white;
      padding: 30px 30px 60px;
      border-radius: 5px;
      margin: 0 auto;
  
      .pi-lock {
        color: $dark-grey;
      }
  
      i {
        vertical-align: sub;
      }
    }
  }
  
  @media only screen and (min-width: 991px) {
    .login-wrapper {
      padding-top: 150px;
  
      form {
        width: 70%;
      }
    }
  }