@import "../../../../assets/scss/variables";

.pi-trash, .pi-pencil {
    cursor: pointer;
    transition: color 0.2s ease-in-out;
  }
  
  .pi-trash {
    font-size: 20px;
  
    &:hover {
      color: $warning;
    }
  }
  
  .pi-pencil {
    font-size: 25px;
  
    &:hover {
      color: $blue;
    }
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }