.navbar {
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.14);
    .nav-item {
        margin-right: 20px;
        a {
            text-decoration: none;
            color: #000;
            &.active {
                color: #007ad9;
            }
            &:hover {
                color: #0056b3;
            }
            i {
                vertical-align: text-top;
            }
            &.logout {
                cursor: pointer;
            }
        }
    }
}