@import "../../assets/scss/variables";

.navbar {
    box-shadow: 0 2px 9px 0 $box-shadow-color;
    font-size: $font-size-xl;

    .navbar-brand {
        font-size: $font-size-xxl;
    }
  
    .nav-item {
      margin-right: 20px;
  
      a {
        text-decoration: none;
        color: $font-color;
  
        &.active {
          color: $blue;
        }
  
        &:hover {
          color: #0056b3;
        }
  
        i {
          vertical-align: text-top;
        }
  
        &.logout {
          cursor: pointer;
        }
      }
    }
  }