<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/overview']">Fake Academy</a>
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a [routerLink]="['/overview']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Overview</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['students']" routerLinkActive="active">Students</a>
        </li>
        <li class="nav-item">
          <a class="logout" (click)="logoutUser()"><i class="pi pi-sign-out"></i> logout</a>
        </li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>