@import '../../../assets/scss/variables';

.container {
  .title {
    font-size: $font-size-xxl;
    margin: 40px 0 20px;
  }

  .pi-user-plus {
    vertical-align: text-bottom;
  }

  form {
    label {
      font-size: $font-size-lg;
    }

    .btn {
      float: right;
    }
  }
}